.mat-tab-group {
  margin-bottom: 30px;
}

.example-header-image {
  background-image: url('https://iconscout.com/lottie/avatars-5084418');
  background-size: cover;
}

.spacing{
  line-height: 26pt;
}

.space{
  margin-left: 200px;
}

.space2{
  margin-left: 150px;
}
