<div fxLayoutAlign="center" align="right" style="color: #3366ffe0">
  <b>{{ date | date }}</b
  ><br /><br />
  <!-- <b>Class {{class.name}}</b> -->
</div>

<div fxLayoutAlign="center center">
  <mat-form-field appearance="fill" style="margin-right: 20%">
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="today"
      [min]="minDate"
      [max]="maxDate"
      (dateInput)="getDate($event)"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="text"
      (keyup)="doFilter(filteredValue.value)"
      placeholder="Filter"
      #filteredValue
    />
  </mat-form-field>
</div>

<!-- <div *ngIf="!teacher">
  <mat-form-field appearance="fill">
    <mat-label>Class</mat-label>
    <mat-select [(value)]="selected" matInput >
      <mat-option *ngFor="let class of classes" [value]="class.id" (onclick)="classValue(selected)">
        {{ class.name }}
      </mat-option>
    </mat-select>
    <mat-error>Field must not be empty.</mat-error>
  </mat-form-field>

  <p>Selected class: {{selected}}</p>
</div> -->

<form class="example-form" [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">
  <mat-table [dataSource]="dataSource" matSort align="center">
    <ng-container matColumnDef="student">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Student</mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Present</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [formControlName]="element.id"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <button align="center" mat-raised-button type="submit">Save</button>
</form>

<mat-paginator [pageSize]="8" [pageSizeOptions]="[1, 5, 8, 10, 15, 20]">
</mat-paginator>
